<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "icon" href = 
"https://i.pinimg.com/564x/8e/9c/91/8e9c91fbf710b9aaf6dbabbe637bb0c7.jpg" 
        type = "image/jpg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>themoonkks</title>
    <link rel="stylesheet" href="css/booking.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
<script src="https://kit.fontawesome.com/7bd9e7e3eb.js" crossorigin="anonymous"></script>
</head>
<body >
<section class="header">
    <nav>
    <a href="/front"><img src="https://i.pinimg.com/564x/21/37/d1/2137d13cbacf5568faab4466f5b525f5.jpg"></a>
    <div class="nav-links" id="navLinks">
        <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
        <ul>
            <li><a href="/front">Home</a></li>
            <li><a href="/tour">Tour</a></li>
            <li><a href="/booking">Booking</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
    <i class="fa-solid fa-bars" onclick="showmenu()"></i>
    
</nav>
</section>

<table id="customers">
    <tr>
      <th>Place</th>
      <th>Date</th>
      <th>Time booked</th>
      <th>Tickets</th>
    </tr>
      {{# each Bookings}}
      <tr>
        <td>{{ email }}</td>
        <td>{{date}}</td>
        <td>{{times}}</td>
        <td>{{ticket}}</td>
      </tr>
      {{/each}}
  </table>
</body>
</script>
</html>