<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "icon" href = 
"https://i.pinimg.com/564x/8e/9c/91/8e9c91fbf710b9aaf6dbabbe637bb0c7.jpg" 
        type = "image/jpg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>themoonkks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
<script src="https://kit.fontawesome.com/7bd9e7e3eb.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/popup.css">
</head>
<body>
<section class="notnow">
    <form action="/buy" method="post">
    <div class="two">
    <div class="one">
        <p><i class="fa-solid fa-ticket"></i>TICKETS</p>
    </div>
</div>
<div class="three">
    <p><i class="fa-solid fa-cart-shopping"></i>  Tickets, $15 per person</p>
    <input type="number" id="quantity" name="ticket" placeholder="Ticket" min="1" max="223">
</div>
<div class="three">
    <p><i class="fa-solid fa-envelope"></i>  Email To Send</p>
    <input type="email"  id="email"   name="email"   placeholder="Email" >

</div>
<div class="disc">
<p>**Email will be send to you with link for payment</p>
<p>**Money can't be refunded after payment</p>
</div>
<div id="outer">
    <div class="inner"><a href="/tour"><input type="submit" id="yo"   value="Pay"></a></div>
    <div class="inner" id="lolo"><a href="/tour"><input type="button"  id="yoyo" value="CLOSE"></a></div>
</div></form>
</section>
</body>
</html>